.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: large;
  font-weight: normal;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    font-weight: normal;
}